doctype html
html
  head
    title= title
    script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    link(rel='stylesheet' type='text/css' href='https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css' defer='')
    script(src='http://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js' defer='')
    script(src='https://cdn.datatables.net/plug-ins/1.10.20/dataRender/datetime.js' defer='')
    link(rel='stylesheet' href='/javascripts/leaflet/leaflet.css')
    script(type='text/javascript' src='/javascripts/leaflet/leaflet.js')
    script(type='text/javascript' src='/javascripts/L.KML.js')
    script(type='text/javascript' src='https://apis.google.com/js/api.js')
    script(type='text/javascript' src='http://momentjs.com/downloads/moment.js')
    script(type='text/javascript' src='/javascripts/usemap.js')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
    script(src='https://unpkg.com/esri-leaflet@2.3.3/dist/esri-leaflet.js' integrity='sha512-cMQ5e58BDuu1pr9BQ/eGRn6HaR6Olh0ofcHFWe5XesdCITVuSBiBZZbhCijBe5ya238f/zMMRYIMIIg1jxv4sQ==' crossorigin='')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css')
    link(rel='stylesheet' href='stylesheets/style3.css')
    link(rel='stylesheet' href='stylesheets/viewer.css')
    script(defer='' src='https://use.fontawesome.com/releases/v5.0.13/js/solid.js' integrity='sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ' crossorigin='anonymous')
    script(defer='' src='https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js' integrity='sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js')
    script(src='https://fengyuanchen.github.io/viewerjs/js/viewer.js')

    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js')




  body
    nav#sidebar
      #dismiss
        i.fas.fa-arrow-left
      .sidebar-header
        h3 Gema Udec
      ul.list-unstyled.components
        li
          a(href='/') Home
        li
          a(href='/wave') Wave
        li
          a(href='/summary') Summary  
        li
          a(href='/galery') Galery
          
    .container-fluid
      block content



